$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#map {
  width: 1000px;
  height: 500px;
  border: 2px solid black;
  margin-top: 40px;
}

.modal-message {
  text-align: center;
  text-emphasis: 80px;
}

h3 {
  color:red;
}

body {
  padding: 80px;
}

// .btn-default {
//   margin-top: 30px;
// }

.container-forms {
  padding: 20px;
  height: 280px;
  border: 2px solid black;
  width: 1000px;
  text-align: left;
  overflow: scroll;
  background-color: #c8c8c8;
}

body {
  background-color: black;
}

.auth-div {
  margin-top: 18px;

}

p#location-message {
  color: red;
}

#home-message {
  color: red;
  float: right;
}

#home-message-placeholder {
  float: right;
  margin-top: 18px;
}

#col-sm-6 {
  padding-top: -30px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #CCFFCC;
}
